.hidden-elm 
{
	display: none;
}

#message_field
{
	overflow: hidden;
}

.clickable 
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    cursor: pointer;
}

#close-message-btn
{
	 color: inherit; 
	 display: inline-block;
} 

.preview-upload
{
	margin-left: 35px;
	width:128px;
	border: 1px solid #a7a7a7;
	box-shadow: 2px 2px 5px #717171;
	background-color: #FFF; 
	padding: 3px;
	border-radius: 5px;
}

#content
{
	margin-top: 15px;
}

#content > div
{
	padding: 0px;
}

.row {
	margin: 15px 0 15px 0;
}


.front-form-group > div
{
	padding: 0;
}

img[src="#"] {
    display: none;
}

textarea {
    resize: none;
}

.front-form-group 
{ 
	border: 1px solid #E5E5E5;
	background-color: #F2F2F2; 
	box-shadow: 2px 2px 5px #dcdcdc;
	padding: 10px 10px;
	border-radius: 5px;
}

@media only screen and (min-width : 320px) {
	.preview-upload
	{
		margin-left: 10px;
		width:128px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.preview-upload
	{
		margin-left: 35px;
		width:128px;
	}
}

.navbar
{
	margin-bottom: 0px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.content-header
{
	padding: 0;
}

.content-wrapper
{
	border: 1px solid #E5E5E5;
	background-color: #F2F2F2; 
	box-shadow: 2px 2px 5px #dcdcdc;
	padding: 10px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.display-wrapper
{
	border: 2px solid #e6e6e6;
	background-color: #fbfbfb; 
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.display-paragraf
{
	font-weight: 200;
	display: inline;
	margin-right: 20px;
}

.display-item-header {
	font-weight: 600;
	padding: 0;
	margin-bottom: 10px;
}

.display-item {
	padding-left: 0;
	margin-bottom: 10px;
}

.btn-wrapper
{
	padding: 0;
}

.display-wrapper:last-child 
{
	margin-bottom: 0;
}